.costs-form {
  border-top: 1px dotted #C70039;
  margin-top: 50px;
}

.data {
  display: flex;
  flex-wrap: wrap;
}

.costs-name {
  margin: 20px 0 0 10px;
  font-size: 1em;
  position: relative;
}

.small-block {
  width: 33%;
  min-width: 200px;
}
